In [4]:
import pandas as pd 
from dotenv import load_dotenv
import os
from polygon import RESTClient

load_dotenv()
API_KEY = os.getenv('POLYGON_API_KEY')
client = RESTClient(API_KEY)

S3_BUCKET = "archived-stock-data"
TICKERS_PARQUET_KEY = "tickers_metadata.parquet"
DETAILS_PARQUET_KEY = "tickers_details.parquet"
OHLCV_FOLDER = "historical_ohlcv/"  # partitioned by ticker
import tqdm
from datetime import datetime, timedelta

In [1]:
import pandas as pd 
df = pd.read_parquet('s3://archived-stock-data/historical_ohlcv/ticker=TSLA/year=2025/month=01/day=14')
df

,open,high,low,close,volume,vwap,timestamp,transactions,otc,ticker,year,month
0,412.7000,414.1200,412.16,413.40,38821.0,413.4662,2025-01-14 09:00:00,1291,None,TSLA,2025,1
1,413.3300,414.3700,413.07,413.07,25004.0,413.5922,2025-01-14 09:01:00,967,None,TSLA,2025,1
2,413.2300,413.5500,413.12,413.12,10589.0,413.3421,2025-01-14 09:02:00,521,None,TSLA,2025,1
3,413.1000,413.1500,412.68,413.10,16226.0,412.9562,2025-01-14 09:03:00,540,None,TSLA,2025,1
4,412.9900,413.0400,412.62,412.64,6569.0,412.8553,2025-01-14 09:04:00,406,None,TSLA,2025,1
...,...,...,...,...,...,...,...,...,...,...,...,...
945,396.2475,396.2475,396.15,396.15,2387.0,396.2001,2025-01-15 00:55:00,76,None,TSLA,2025,1
946,396.1503,396.1900,396.12,396.18,4929.0,396.1572,2025-01-15 00:56:00,156,None,TSLA,2025,1
947,396.1500,396.1500,396.10,396.10,2689.0,396.1176,2025-01-15 00:57:00,98,None,TSLA,2025,1
948,396.1000,396.1000,396.01,396.08,6985.0,396.0595,2025-01-15 00:58:00,105,None,TSLA,2025,1
949,396.0785,396.1378,395.98,396.04,17372.0,396.0308,2025-01-15 00:59:00,266,None,TSLA,2025,1

In [18]:
import pandas as pd
import boto3
import io
import logging
import pandas as pd
from datetime import datetime, timedelta
from polygon import RESTClient
from tqdm import tqdm
import os
from dotenv import load_dotenv


load_dotenv()
logger = logging.getLogger(__name__)

API_KEY = os.getenv('POLYGON_API_KEY')
client = RESTClient(API_KEY)

from polygon import RESTClient

client = RESTClient("ok9x8dCfl_dne7p0gNRpB4ziLdQJjLC4")

contracts = []
for c in client.list_options_contracts(
	ticker = 'CRWD',
	order="asc",
	limit=10,
	sort="ticker",
	):
    contracts.append(c)

print(contracts)

TypeError: ContractsClient.list_options_contracts() got an unexpected keyword argument 'ticker'

In [27]:
df = pd.read_parquet(f"s3://{S3_BUCKET}/{TICKERS_PARQUET_KEY}")
df.query('ticker=="GME"')

,active,cik,composite_figi,currency_name,currency_symbol,base_currency_symbol,base_currency_name,delisted_utc,last_updated_utc,locale,market,name,primary_exchange,share_class_figi,ticker,type,source_feed
6197,True,0001326380,BBG000BB5BF6,usd,None,None,None,None,2025-03-21T00:00:00Z,us,stocks,GameStop Corp. Class A,XNYS,BBG001S5RLR0,GME,CS,None

In [26]:
ticker= 'TTAN'
candles = []
for a in client.list_aggs(ticker=ticker, multiplier=1, timespan='minute', from_='2023-01-29', to='2023-12-30', limit=50000):
	candles.append(a)
df2 = pd.DataFrame(candles)
df2['timestamp'] = pd.to_datetime(df2['timestamp'], unit='ms')
df2.sort_values(by='timestamp',ascending=True)

KeyError: 'timestamp'